<div class="row" [formGroup]="vm.form">
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.nome.label }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.nome' name='nome' required formControlName='nome' />
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.descricao.label }}</label>
      <textarea class='form-control' [(ngModel)]='vm.model.descricao' name='descricao' rows='5' formControlName='descricao'></textarea>
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.qtdeMinima.label }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.qtdeMinima' name='qtdeMinima' required formControlName='qtdeMinima' [textMask]='{ mask: vm.masks.maskDecimal }' />
    </div>
  </section>
  <section class="col-md-12">
    <div class='form-group'>
      <label>{{ vm.infos.valor.label }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.valor' name='valor' required formControlName='valor' [textMask]='{ mask: vm.masks.maskDecimal }' />
    </div>
  </section>
  <section class="col-md-12">
    <div class='checkbox'>
      <label>
        <input type='checkbox' [(ngModel)]='vm.model.ativo' name='ativo' formControlName='ativo' /> {{ vm.infos.ativo.label }}?
      </label>
    </div>
  </section>
</div>

